//Menu Button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: set-text-color($primary-color);
    @include easeOut;
    &.colored {
      background-color: $secondery-color;
    }
  }

  &.show {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(135deg) translate(-5px, 4px);
      }
    }
  }

  &:hover {
    .btn-line {
      background-color: $secondery-color;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    float: left;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }

  &-branding {
    background-color: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    .potrait {
      width: 250px;
      height: 250px;
      background: url("/img/portrait.jpg");
      border-radius: 50%;
      border: 2px solid $secondery-color;
      background-size: cover;
    }

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-nav {
    background-color: darken($primary-color, 5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    a.current {
      color: $secondery-color;
    }

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;

    @include easeOut;

    &:hover {
      color: $secondery-color;
    }
  }
}

// Dealy each nav items slide by 0.1s

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
